<!--
  ~ Copyright (C) 2021 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.splash_screen_sample">    
    <!-- label: 应用名称（显示在设备上） 
      icon: 应用图标
    -->

   <application   
        android:label="splash_screen_sample" 
        android:icon="@mipmap/ic_launcher">
        <!--
         name: 应用类名（.表示同报名）
         exported: 是否允许其他应用访问此应用
         theme: 指定启动时使用的主题样式
         launchMode: 启动模式 singleTop:单例栈顶复用
         configChanges: 配置改变时由代码处理而非重启
         hardwareAccelerated: 是否使用硬件加速
         windowSoftInputMode: 软键盘模式 adjustResize:软键盘弹出时调整窗口大小
         -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
          <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
          </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
             <!-- meta-data 为 Flutter 工具提供配置信息 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" /><!-- 指定使用 Flutter 的嵌入 API 版本 2 -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false" />
    </application>
</manifest>
